@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Server.Kestrel.Core
@model ProjectsListViewModel
<div class="container">
    <h1 class="display-2 text-light">The Water Project 💧</h1>
</div>
<div class="line">
    
</div>

<div class="container text-dark list-group">
    @foreach (Project p in Model.Projects)
    {
        <partial name="ProjectSummary" model="p"/>
    }
</div>

<div page-model="@Model.PaginationInfo" page-action="Index" page-class="btn" page-classes-enabled="true"
     page-class-normal="btn-outline-light" page-class-selected="btn-primary" class="btn-group pull-right m-1">
    
</div>