@{
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <title>The Water Project</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="icon" href="water_bottle.png">
</head>

<body class="bg-dark">
<div class="bg-dark text-white p-2">
    <span class="navbar-brand m-lg-2">
        The Water Project 💧
    </span>
    <div class="row m-1 p-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</div>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - The Water Project - Cristian Cruz 💻
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>